@{
    ViewBag.Title = "Expirimental Homepage";
}

<div id="main-image">

</div>
<section id="right-column">
    <h3 id="intro-text">This months knife from...</h3>
    <h2 id="company-text">Masahisa</h2>
    <a id="buy-cta" href="#">Buy - $172</a>
    <p id="blurb" class="description-text">
        Lorem ipsum sit amet dolor description. Lorem ipsum sit amet dolor description. Lorem ipsum sit amet dolor description.
        Lorem ipsum sit amet dolor description. Lorem ipsum sit amet dolor description. Lorem ipsum sit amet dolor description.
        Lorem ipsum sit amet dolor description. Lorem ipsum sit amet dolor description. Lorem ipsum sit amet dolor description.
    </p>
    <p id="more-details" class="hidden description-text">
        Lorem ipsum sit amet dolor more details. Lorem ipsum sit amet dolor more details. Lorem ipsum sit amet dolor more details.
        Lorem ipsum sit amet dolor more details. Lorem ipsum sit amet dolor more details. Lorem ipsum sit amet dolor more details.
        Lorem ipsum sit amet dolor more details. Lorem ipsum sit amet dolor more details. Lorem ipsum sit amet dolor more details.
        Lorem ipsum sit amet dolor more details. Lorem ipsum sit amet dolor more details. Lorem ipsum sit amet dolor more details.
        Lorem ipsum sit amet dolor more details. Lorem ipsum sit amet dolor more details. Lorem ipsum sit amet dolor more details.
        Lorem ipsum sit amet dolor more details. Lorem ipsum sit amet dolor more details. Lorem ipsum sit amet dolor more details.
    </p>
    <a href="#" id="show-details-link" class="details-link">more details...</a>
    <a href="#" id="hide-details-link" class="details-link hidden">hide details...</a>
</section>
